nav {
    padding: 0 16px;
    height: 48px;
    line-height: 48px;
    .nav-wrap {
        display: flex;
        justify-content: space-between;
        transform: translateY(-48px);
        opacity: 0;
        transition: all ease-in .3s;
    }
    &:hover .nav-wrap {
        opacity: 1;
        transform: translateY(0);
    }
    .iconfont {
        font-size: 18px;
        &.hidden {
            visibility: hidden;
        }
    }
}
