.upload-area {
    height: 400px;
    border: 2px dotted #ccc;
    margin-bottom: 16px;
    text-align: center;
    position: relative;
}

.upload-area span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 22px;
    font-weight: bold;
    color: #666666;
}

.upload-area.hover {
    opacity: 0.6;
}

.info-area {
    height: 24px;
    line-height: 24px;
    margin-bottom: 16px;
}

.btn-area {
    text-align: right;
}
