/*
 html5doctor.com Reset Stylesheet
 v1.6.1
 Last Updated: 2010-09-17
 Author: Richard Clark - http://richclarkdesign.com 
 Twitter: @rich_clark
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* custom styls */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'microsoft yahei ui', 'microsoft yahei', PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', arial, simsun, sans-serif;
    font-size: 16px;
    background-color: #f8f8f8;
    padding: 16px;
}

.nav {
    padding-left: 16px;
    margin-bottom: 16px;
    height: 48px;
    line-height: 48px;
    background-color: #fff;
    border-radius: 4px;
}

.nav ul {
    height: 100%;
    overflow: hidden;
}

.nav ul li {
    float: left;
}

.nav ul li>a {
    display: inline-block;
    margin-right: 8px;
    text-decoration: none;
    color: #333;
}

.nav ul li>a.active {
    color: #000;
    font-weight: bold;
}

.nav ul li>a:hover {
    text-decoration: underline;
}

.wrap {
    height: calc(100% - 64px);
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
}

.info {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.form .field {
    padding: .75rem 1.25rem;
}

.form .field>label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.form .field>input {
    width: 100%;
    border: 1px solid #efefef;
    background: #fff;
    border-radius: 2px;
    font-size: 14px;
    padding: 8px 16px;
}

.form .field>input:hover {
    border-color: #e3e3e3;
}

.btn {
    cursor: pointer;
    text-align: center;
    padding: 6px 16px;
    border: 1px solid #0167c6;
    color: #fff;
    background: #0174df;
    font-size: 1rem;
}

.btn:hover {
    border-color: #0181f8;
    background: #0181f8;
}
