.jpg,
.jpeg,
.png,
.bmp,
.gif {
    fill: #5B87E8;
}

.mp3,
.wma,
.wav,
.ape,
.flac,
.ogg,
.aac {
    fill: #57B079;
}

.mp4,
.avi,
.mov,
.wmv,
.mkv {
    fill: #EF8C42;
}

.zip,
.rar,
.gz,
.iso {
    fill: #F0D242;
}

.bmg,
.app,
.exe {
    fill: #e75751;
}

.txt,
.md,
.js,
.css,
.html,
.ts {
    fill: #00B7E5;
}

.file-icon {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
