<div class="upload-wrap">
    <div class="upload-border inline" [class.drag-over]="dragOver" (drop)="$event.preventDefault();this.drop($event)" (dragleave)="$event.preventDefault();this.dragOver=false;" (dragenter)="$event.preventDefault(); dragOver=true;">
        <div class="center">
            <i class="iconfont icon-upload"></i>
            <button class="btn btn-grey" (click)="this.selectFile()">Browse your files</button>
            <p class="big">Drag & Drop</p>
            <p class="big">your files here</p>
            <p class="small">or <a href="javascript: void(0)" (click)="this.selectFile()">browse.</a></p>
        </div>
    </div>
</div>
