li{
    height: 48px;
    line-height: 48px;
    padding: 0 8px;
    vertical-align: middle;
    overflow: hidden;

    border-bottom: 1px solid #666;
    span {
        color: #0789cf;
    }
    span + span {
        float: right;
    }
}
